{% extends "layout.html" %}
{% block title %}Settings - Account - SyncSecure{% endblock %}

{% block errormessages %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="top-error">
          {% for category, message in messages %}
            <div class="alert alert-dismissable alert{% if category != 'message'%}-{{ category }}{% endif %}{% if category == 'message' %}-warning{% endif %}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong class="top-error-text">{{ message }}</strong>
            </div>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}
{% endblock %}

{% block topnavbar %}
<ul class="nav navbar-nav navbar-right">
  <li><a href="/upgrade">Get More Space</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user-drop">
        <span class="glyphicon glyphicon-user"></span> {{ g.user.get_name() }} 
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="user-drop">
        <li><a href="/settings" class="menu-item-fade">Using {{ g.user.usage.percent_used() }}% of {{ g.user.storage_plan.to_gb() }}GB</a></li>
      <li>
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: {{ g.user.usage.percent_used() }}%"></div>
        </div>
      </li>
      <li><a href="{{ url_for('settings.account') }}" class="menu-item-fade">Settings</a></li>
      <li><a href="/install" class="menu-item-fade">Install</a></li>
      <li><a href="/upgrade" class="menu-item-fade">Get More Space</a></li>
      <li class="divider"></li>
      <li><a href="{{ url_for('auth.logout') }}" class="menu-item-fade">Logout</a></li>
    </ul>
  </li>

</ul>
{% endblock %}

{% block jsbottom %}
<script src="/static/js/table-filter.js"></script>
<script>
$(window).ready(function(e){
      $.each($('div.progress-bar'),function(){
        $(this).css('width', $(this).attr('aria-valuetransitiongoal')+'%');
      });
});
</script>
{% endblock %}


{% block body %}
<div class="row inner-content">


<div class="col-lg-2 col-sm-3 col-xs-12">
  <div class="row">
    <div class="col-xs-12">
  <nav class="nav-sidebar">
    <ul class="nav">
      <li><a href="/home"><span class="glyphicon glyphicon-cloud"></span> My Files</a></li>
      <!--
      <li><a href="/documents" class="menu-item-fade"><span class="glyphicon glyphicon-file"></span> Documents</a></li>
      <li><a href="/photos" class="menu-item-fade"><span class="glyphicon glyphicon-picture"></span> Photos</a></li>
      <li><a href="/videos" class="menu-item-fade"><span class="glyphicon glyphicon-facetime-video"></span> Videos</a></li>
      -->
      <li class="nav-divider"></li>
      <li><a href="/sharing"><span class="glyphicon glyphicon-link"></span> Sharing</a></li>
      <li><a href="/activity" class="menu-item-fade"><span class="glyphicon glyphicon-list-alt"></span> Activity</a></li>
      <li><a href="/invite"><span class="glyphicon glyphicon-thumbs-up"></span> Invite Friends</a></li>
    </ul>
  </nav>
  </div>
  </div>


</div>

<div class="col-lg-10 col-sm-9 col-xs-12 right-content-settings">
    <h1>Settings</h1>

    <div class="top-spacing">
    <ul class="nav nav-tabs">
        <li class="active"><a href="/settings/account">Account</a></li>
        <li><a href="/settings/storage">Storage Space</a></li>
    </ul>
</div>
    <div class="row top-spacing">
        <div class="col-lg-6">
            <h3>Hello, {{ g.user.get_first_name() }}</h3>
            <small>{{ g.user.get_email() }}</small>
            <p class="top-spacing">
            <a href="#passwordModal" data-toggle="modal" data-target="#passwordModal" class="btn btn-xs btn-default">Change password</a>
            </p>
        </div>
         <div class="col-lg-6 top-spacing text-left">
                     </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-lg-12">
                    <h2>General Settings</h2>


<form class="form-horizontal" role="form" method="POST" action="{{ url_for('settings.save_general_settings') }}">
{{ general_settings_form.hidden_tag() }}
<div class="checkbox">
    {{ general_settings_form.new_device_email }}
    {{ general_settings_form.new_device_email.label }}  
</div>
<div class="checkbox">
    {{ general_settings_form.almost_out_of_space_email }}
    {{ general_settings_form.almost_out_of_space_email.label }}  
</div>
<div class="checkbox">
    {{ general_settings_form.syncsecure_news_email }}
    {{ general_settings_form.syncsecure_news_email.label }}
</div>
<div class="top-spacing">
    {{ general_settings_form.timezone.label }}
    {{ general_settings_form.timezone }}
</div>
<div class="top-spacing">
    <button type="submit" class="btn btn-info">Save</button>
</div>
</form>
            
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Billing Information</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-sm btn-default">Update</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
            <div class="row top-spacing">
                <div class="col-sm-6">
                    <p><a href="/deactivate">Deactivate my account</a></p>
                </div>
            </div>

</div>



</div>
</div>


<div id="passwordModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h1 class="text-center">Change password</h1>
      </div>
      <div class="modal-body">
        <h4 class="text-center">Enter a new password that is at least 8 characters long.</h4>
        <form class="form col-md-12 center-block" action="{{ url_for('settings.save_new_password') }}" method="post">
          {{ change_password_form.hidden_tag() }}
          <div class="form-group">
            {{ change_password_form.new_password(value="", class="form-control input-lg", placeholder="New password") }}
          </div>
          <div class="form-group">
            {{ change_password_form.confirm(value="", class="form-control input-lg", placeholder="Confirm") }}
          </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <button class="btn btn-primary" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
