[Unit]
Descriptions=Announce Sessions
BindsTo=sessions.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/website/sessions '{ \"host\": \"%H\", \"port\": 6379, \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/website/sessions

[X-Fleet]
X-ConditionMachineOf=sessions.service
