{% extends "layout.html" %}
{% block title %}My Files - SyncSecure{% endblock %}


{% block topnavbar %}
<ul class="nav navbar-nav navbar-right">
  <li><a href="/upgrade">Get More Space</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="user-drop">
      <span class="glyphicon glyphicon-user"></span> Travis Cunningham <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="user-drop">
      <li><a href="/settings" class="menu-item-fade">Using 45% of 100GB</a></li>
      <li>
        <div class="progress progress-striped active">
          <div class="progress-bar" style="width: 45%"></div>
        </div>
      </li>
      <li><a href="/settings" class="menu-item-fade">Settings</a></li>
      <li><a href="/install" class="menu-item-fade">Install</a></li>
      <li><a href="/upgrade" class="menu-item-fade">Get More Space</a></li>
      <li class="divider"></li>
      <li><a href="/logout" class="menu-item-fade">Logout</a></li>
    </ul>
  </li>

</ul>
{% endblock %}

{% block jsbottom %}
<script src="/static/js/table-filter.js"></script>
{% endblock %}


{% block body %}
<div class="row inner-content">


<div class="col-lg-2 col-sm-3 col-xs-12">
  <div class="row">
    <div class="col-xs-12">
  <nav class="nav-sidebar">
    <ul class="nav">
      <li class="active"><a href="/home"><span class="glyphicon glyphicon-cloud"></span> My Files</a></li>
      <!--
      <li><a href="/documents" class="menu-item-fade"><span class="glyphicon glyphicon-file"></span> Documents</a></li>
      <li><a href="/photos" class="menu-item-fade"><span class="glyphicon glyphicon-picture"></span> Photos</a></li>
      <li><a href="/videos" class="menu-item-fade"><span class="glyphicon glyphicon-facetime-video"></span> Videos</a></li>
      -->
      <li class="nav-divider"></li>
      <li><a href="/sharing"><span class="glyphicon glyphicon-link"></span> Sharing</a></li>
      <li><a href="/activity" class="menu-item-fade"><span class="glyphicon glyphicon-list-alt"></span> Activity</a></li>
      <li><a href="/invite"><span class="glyphicon glyphicon-thumbs-up"></span> Invite Friends</a></li>
    </ul>
  </nav>
  </div>
  </div>


  <div class="row space-used">
    <div class="col-xs-12">
      Using 45% of 100GB
      <div class="progress progress-striped active">
        <div class="progress-bar" style="width: 40%"></div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-10 col-sm-9 col-xs-12 right-content">
  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <ol class="breadcrumb">
        <li><a href="#">SyncSecure</a></li>
        <li><a href="#">Library</a></li>
        <li><a href="#">Photos</a></li>
        <li class="active">Data</li>
      </ol>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="btn-group btn-group-lg buttons-right">
        <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</a>
        <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> New Folder</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title panel-title-white">File Listing</h3>
          <div class="pull-right">
            <span class="clickable filter" data-toggle="tooltip" title="Toggle folder filter" data-container="body">
              <i class="glyphicon glyphicon-filter"></i>
            </span>
          </div>
        </div>
        
        <div class="panel-body">
          <input type="text" class="form-control" id="files-table-filter" data-action="filter" data-filters="#files-table" placeholder="Filter this folder" />
        </div>
        <table class="table table-hover" id="files-table">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Type</th>
              <th>Modified</th>
              <th>Shared with</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="icon"><img src="https://cdn1.iconfinder.com/data/icons/stuttgart/32/folder.png"></td>
              <td><a href="#">Apps</a></td>
              <td>Folder</td>
              <td>3 minutes ago</td>
              <td>Dave Owens</td>
            </tr>
            <tr>
              <td class="icon"><img src="https://cdn1.iconfinder.com/data/icons/stuttgart/32/folder.png"></td>
              <td><a href="#">Photos</a></td>
              <td>Folder</td>
              <td>4/24/2014</td>
              <td></td>
            </tr>
            <tr>
              <td class="icon"><img src="https://cdn2.iconfinder.com/data/icons/picol-vector/32/document_text-32.png"></td>
              <td><a href="#">BookReport.docx</a></td>
              <td>Document</td>
              <td>1 hour ago</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
		</div>
  </div>



</div>

</div>
</div>

{% endblock %}
